
$header-size: calc(3vw + 3vh + 1.5vmin);

$body-size: calc(1.7vw + 1.7vh + 1vmin);

$breakpoint-1: 1200px;
$breakpoint-2: 960px;
$breakpoint-3: 760px;
$breakpoint-4: 480px;

//Font Styles
$bold: 700;
$regular: 400;
$light: 300;
