.contact{
  position: fixed;
  height: 200px;
  width: 100%;
  background: #7dc6ff;
  bottom: 0;
  z-index: -40;
  visibility: hidden;

    &__information{
      margin: 10px;
      position: absolute;
      bottom: 0;

      &__svg{


      }

      &__svg img{
        width: 30px;
        height: 30px;
        color: black;
      }
    }

    &__photo{


      img {
        width: 200px;
        height: 200px;
        border-radius: 125px;
        position: fixed;
        right: 0;
        bottom: 0;

      }

    }

}

#contact-header{
  font-size: calc(2vw + 2vh + 1vmin);
}

.show-contact{
  visibility: visible;
}

.hide-contact{
  visibility: hidden;
}


/*
===================================
    MEDIA QUERIES
===================================
*/

@media (max-width: 1200px) {



}

@media (max-width: 960px) {



}

@media (max-width: 760px) {


}

@media (max-width: 480px) {


}
