.languages{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255,.5);
  padding-bottom: 30px;

    &__div {
      margin-top: 2vh;


        &__svg{
          width: 200px;
          height: 20vh;
        }

    }

    &__div p{
      margin-top: 1vh;
      font-size: calc(1.5vw + 1.5vh + .75vmin);
    }
}

#icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#lang-header{
  margin-top: 5vh;
}




/*
===================================
    MEDIA QUERIES
===================================
*/

@media (max-width: 1200px) {
  .languages{

      &__div {

          &__svg{
            width: 180px;
          }

      }


    }
}

@media (max-width: 960px) {



}

@media (max-width: 760px) {


}

@media (max-width: 480px) {


}
