.portfolio{
  text-align: center;
  margin-bottom: 200px;
}

.portfolio h1{
  margin-top: 30px;
}

.port{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;

    &__item{
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      width: 300px;
      height: 200px;
      margin: 30px;
      box-shadow: -1px 2px 3px black;

      &__text{
        position: fixed;
        color: white;
        text-align: center;
        z-index: 1
      }
    }

    &__modal{
      display: flex;
      flex-direction: column;

      &__header{
        text-align: left;
        font-size: 50px;
      }

      &__text{
        margin-bottom: 20px;
      }

      &__svg{
        width: 40px
      }

      &__x{
        position: absolute;
        top: 5px;
        right: 5px;
        width: 30px;
      }

    }


}



//Headshoppe specific
#hsvid{
  -webkit-transform: scaleX(1.2);
-moz-transform: scaleX(1.2  );
}

#hsLogo{
  max-width: 315px;
  width: 100%;
}

//Public Specific
.publicText{
  color: red;
  font-family: 'Cinzel', serif;
}

#publicText2{
  top: 80px;
}

//bandspace specific
.bssvg{
  width: 180px;
  margin-top: 10px;
}

#bandspace{
  background-color: #0a9efc;
}

.innerCircle {
  stroke: #F3D55B;
  stroke-width: 2px;
  stroke-opacity: 100;
  fill: white;
  fill-opacity: 0;
  transform-origin: 50% 50%;
  animation-duration: .5s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    stroke-width: 3px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-width: 0;
    stroke-opacity: 1;
    transform: scale(2);
  }
}

//yo brew
#yobrew{
  height: 200px;
  width: 400px;
}

//What to watch
#wtwText{
  display: block;
  margin: 11px 0 17px 0;
  font-size: 50px;
  line-height: 80px;
  color: gold;
  text-shadow: 0 1px 0 #9e812f, 0 2px 0 #c79a34, 0 3px 0 #c7a730, 0 4px 0 #b99c4b, 0 5px 0 #9c8f30, 0 6px 1px rgba(241, 231, 203, 0.13), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15), -2px 10px 20px rgba(0,0,0,1)
}


/*
===================================
    MEDIA QUERIES
===================================
*/

@media (max-width: 1200px) {



}

@media (max-width: 960px) {



}

@media (max-width: 760px) {


}

@media (max-width: 480px) {


}
