.splash {
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;

    &__title {
      text-align: center;
      -webkit-animation: fade-in 5s;
      animation: fade-in 5s;
    }

    &__menu {
      display: flex;
      width: 100%;
      text-align: center;
      justify-content: space-around;
      -webkit-animation: fade-in 5s;
      animation: fade-in 5s;

      &__item {
        font-size: calc(1vw + 1vh + .5vmin);
        margin-left: 5vw;
        margin-right: 5vw;
        line-height: 60px;
      }
      &__item:hover {
        color: blue;
      }

    }

    &__message{
      margin-top: 10vh;
      opacity: 0;
      -webkit-animation: message 5s;
      animation: message 5s;
      animation-delay: 2s;
    }

}

#sticky-nav{
    height: 60px;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 50;
    background-color: rgba(255,255,255,.7);
}


#doughnuts {
  position: fixed;
    min-height: 100%;
    z-index: -50;

}

.sticky-navigation{
    position:absolute;
    bottom:0;
}

.sticky-navigation-fixed {
    position: fixed;
    top:0;
}


/*
===================================
    MEDIA QUERIES
===================================
*/

@media (max-width: 1200px) {



}

@media (max-width: 960px) {



}

@media (max-width: 760px) {

}

@media (max-width: 480px) {


}
